.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.paginationItem {
  margin-right: 5px;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 5px 10px;
  border: 1px solid var(--main-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background: var(--main-button-color);
  color: var(--add-text-color);
}

.disabled {
  pointer-events: none;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.ellipsis {
  cursor: default;
  pointer-events: none;
}
