.basket {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.goods {
  grid-column: span 4;
  /* width: 100%; */
}
.summary {
  grid-column: span 2;
  font-size: 3.5rem;
}
.greeting {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}
