:root {
  --main-button-color: linear-gradient(180deg, #fd27c1 19.64%, #bd33fe 77.03%, #931def 143.24%);
  --hover-button-color: linear-gradient(180deg, #a1177a 19.64%, #9c26d2 77.03%, #7318b8 143.24%);
  --hover-shadow-button: 0 2px 4px rgba(0, 0, 0, 0.1);
  --main-text-color: #060606;
  --add-text-color: rgb(255, 255, 255);
  --main-background-color: rgb(195, 190, 190);
}
