.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'a  m  d'
    'a  m  d'
    'a  m  d'
    'a  n  d'
    'b  n  e'
    'b  n  e'
    'b  o  e'
    'b  o  e'
    'c  o  f'
    'c  p  f'
    'c  p  f'
    'c  p  f';
  overflow: hidden;
}
.category:nth-child(1) {
  grid-area: a;
}

.category:nth-child(2) {
  grid-area: m;
}

.category:nth-child(3) {
  grid-area: d;
}

.category:nth-child(4) {
  grid-area: b;
}

.category:nth-child(5) {
  grid-area: n;
}

.category:nth-child(6) {
  grid-area: e;
}

.category:nth-child(7) {
  grid-area: o;
}

.category:nth-child(8) {
  grid-area: c;
}

.category:nth-child(9) {
  grid-area: p;
}

.category:nth-child(10) {
  grid-area: f;
}

.category:nth-child(2),
.category:nth-child(5),
.category:nth-child(7),
.category:nth-child(9) {
  height: 10vh;
}

@media (max-width: 560px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f'
      'm'
      'n'
      'o'
      'p';
  }
  .category:nth-child(1),
  .category:nth-child(4),
  .category:nth-child(8),
  .category:nth-child(3),
  .category:nth-child(6),
  .category:nth-child(10),
  .category:nth-child(2),
  .category:nth-child(5),
  .category:nth-child(7),
  .category:nth-child(9) {
    width: calc(100vw - 3rem);
    height: 30%;
  }
}
