.product {
  display: grid;
  justify-items: center;
  position: relative;
}

.img {
  width: 100%;
  height: 448px;
  object-fit: cover;
  border-radius: 35px;
}

.favorites {
  position: absolute;
  top: 2%;
  right: 2%;
}

.loupe {
  position: absolute;
  right: 2%;
  bottom: 20%;
}
.loupe:hover,
.favorites:hover {
  border-color: transparent;
}
.loupe:focus,
.favorites:focus {
  outline: transparent;
}

.title,
.rating,
.price,
.basket {
  margin-top: 3%;
}
.basket {
  background: var(--main-button-color);
  border: none;
  color: var(--add-text-color);
  padding: 10px 20px;
  border-radius: 1rem;
}
.basket:hover {
  background: var(--hover-button-color);
  box-shadow: var(--hover-shadow-button);
}
