.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  @media (min-width: 768px) {
    height: auto;
  }
}

.background {
  width: calc(100% + 20%);
  height: calc(100% + 10%);
  position: absolute;
}

.wrapper {
  position: absolute;
  top: 0;
  margin: auto;
  margin-top: 5%;
  z-index: 1;
  background-color: var(--add-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--main-text-color);
  font-size: 2rem;
}

.form {
  z-index: 1;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--add-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
  background: var(--main-button-color);
  color: var(--add-text-color);
  margin: 0;
}
.submit:hover {
  background: var(--hover-button-color);
  box-shadow: var(--hover-shadow-button);
}
.addititional,
.registration {
  width: 80%;
  padding: 10px;
  z-index: 1;
}

.desc {
  position: relative;
  display: inline-block;
  color: #000;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.desc::before,
.desc::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 30%;
}

.desc::before {
  top: 50%;
  left: 0;
}
.desc::after {
  top: 50%;
  right: 0;
}
.passwordContainer {
  position: relative;
}
.eye {
  position: absolute;
  top: 20%;
  left: 75%;
  z-index: 1;
}
.eye:hover,
.eye:focus {
  border: none;
}
