.header {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteCover {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-10%, 30%);
  max-width: 50%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  width: 12.5rem;
  margin-right: 25%;
}

.contact,
.feedback,
.favorites,
.account {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .favorites,
  .feedback,
  .account,
  .basket,
  .contact {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
