.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--main-background-color);
  margin-bottom: 1rem;
}
.img {
  width: 60%;
  height: 30vh;
}
.info {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 2.5rem;
}
.favorites {
  padding: 5px;
}
.favorites:hover,
.remove__basket:hover {
  box-shadow: var(--hover-shadow-button);
  border: 2px solid var(--main-background-color);
  font-weight: bold;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.remove__basket {
  padding: 5px;
  border-radius: 5px;
  background: var(--main-button-color);
}
.remove__basket:hover {
  background: var(--hover-button-color);
  box-shadow: var(--hover-shadow-button);
}
.quantity__increase,
.quantity__decrease {
  background-color: var(--main-background-color);
}
.quantity__increase:hover,
.quantity__decrease:hover {
  box-shadow: var(--hover-shadow-button);
}
.quantity__input {
  border: none;
  font-size: 2.5rem;
  padding: 0 15px;
}
